

body {
  background-color: bisque;
  margin: 0;
  padding: 0;
  border: 0;
}

header {
  padding: 0;
  border: 0;
  width: 1440px;
}

nav {
  margin: auto;
  width: 1200px;
  background-color: white;
}

ul {
  padding: 0;
  margin: auto;
  height: 54px;
  list-style: none;
  display: flex;
  gap: 50px;
  font-size: 18px;
}  
li {
  align-content: center; /*о богі*/
}