

body {
  background-color: bisque;
  margin: 0;
  padding: 0;
  border: 0;
}

header {
  margin: 0;
  padding: 0;
  border: 0;
  width: 1440px;
}

nav {
  margin: auto;
  width: 790px;
  background-color: white;
}

ul {
  padding: 1%;
  list-style: none;
}  