

body {
  background-color: bisque;
  margin: 0;
  padding: 0;
  border: 0;
}

header {
  padding: 0;
  border: 0;
  width: 1440px;
}

nav {
  margin: auto;
  width: 1200px;
  background-color: white;
}

docu {
  gap: 50px;
  font-size: 18px;
  font-family: Staatliches, regular;
  letter-spacing: 0px;
  /*gap: 10px;*/
}

ul {
  padding: 0;
  margin: auto;
  height: 54px;
  list-style: none;
  display: flex;
  gap: 50px;
  font-size: 18px;
  font-family: Tourney, semibold;
  letter-spacing: 2px;
  color: black;
}  

li {
  align-content: center; /*о богі*/
}

chaps {
  margin: auto;
  width: 1440px;
  background-color: white;
}

navw {
  margin: auto;
  width: 1200px;
}

